.App{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor:none;
  background-color:#ffc1b6;
}
h1{
  text-align: center;
}
.cursor{
    height:20px;
    width:20px;
    border:1px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: 0.1s;
    background-color: white;
}

.cursor_hover{
  height:30px;
  width:30px;
  border:1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transform:scale(3);
  background-image: url(./slack.png);
  background-size: contain;
}
.secondcursor_hover{
  background-image: url(./ok.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.interview{
  margin-left: 12px;
  padding-left: 7px;
}

span:hover{
  color:white;
}